.leftar{
    margin: 20px 0;
    background: #ffffff;
    .title{
        text-align: center;
        padding: 10px 0;
        font-size: 16px
    }
    .Foursassets{
        display: flex;
        text-align: center;
        justify-content: center;
        padding-bottom: 10px;
        li{
            width: 80px;
            background: #E7F3FD;
            color: #3E4E80;
            margin: 0 10px;
            cursor: pointer;
        }
    }
    .times{
        text-align: center;
        span{
            cursor: pointer;
        }
    }
    .project{
        text-align: center
    }
    i{
        color: #8C8C8C
    }
    .content{
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
        line-height: 30px;
        color: #404040;
        .heatitle{
            text-indent: 2rem
        }
    }
}
.tables{
    background: #ffffff;
    p{
        font-size: 18px;
        color: #3E4E80;
        border-bottom: 1px solid #ccc;
        font-weight: 600;
        padding: 10px 10px;
        span{
            font-size: 12px;
            color:#CDCDCD;
        }
        
    }
    .el-table thead{
        display: none
    }
}
article{
    margin-bottom: 100px;
    position: relative;
}
.posiimg{
    position: fixed;
    right: 17%;
    top: 57%;
    cursor: pointer;
}
.rightar{
    margin: 20px 0;
    
    img{
        margin-bottom: 20px
    }
}
#fontsizes{
    font-size: 12px
}
#fontsizes1{
    font-size: 16px
}
#fontsizes2{
    font-size: 20px
}
.posi{
    position: fixed;
    top: 260px;
    left: 0;
}
.icons > li{
    cursor: pointer;
    text-align: center;
    background: #FAFAFA;
    padding: 0 5px;
    border-bottom: 1px solid #ccc;
    span{
        font-size: 18px;color: #999999;
        
    }
    &:hover{
       span{
           color: #3E4E80
       }
       color: #3E4E80
    }
}
@media print {
    @page {
        size: A4 portrait; // A4大小 纵向
    }
    .leftar{
        display: block
    }
    main,footer,.rightar,.posi,.header{
        display: none
    }
}