<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳联交所</title>
    <link rel="icon" href="../images/logo.png">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/ele.css">
    <link rel="stylesheet" href="../css/eleicon.css">
    <link rel="stylesheet" href="../css/purchase.css">
    <script src="../js/vue.min.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/ele.js"></script>
    <script src="../js/headerpublic.js"></script>
    <script src="../js/gVerify.js"></script>
</head>
<style>
    .regitop {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        margin-top: 20px;
    }

    .regitop>p {
        font-size: 16px;
        color: #415182;
        font-weight: 600
    }

    .regitop>p>span {
        font-size: 12px;
        color: #ACACAC;
        font-weight: 500;
        margin-left: 10px
    }
    .retribox{
        width: 50%;
        margin: 0 auto;
        padding: 62px 0
    }
</style>

<body>
    <div id="app">
        <headers></headers>
        <main>
            <div class="main">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 contentlr">
                        <p style="padding: 20px;background:#fff">首页 > 会员中心 > 找回密码</p>
                    </div>
                </div>
            </div>
        </main>
        <article>
            <div class="main">
                <div style="background: #fff">
                    <div class="regitop">
                        <p>找回密码 <span>RETRIEVE THE PASSWORD</span></p>
                    </div>
                    <div class="retribox">
                        <el-form :label-position="labelPosition" :rules="rules2"  ref="formLabelAlign" label-width="100px" :model="formLabelAlign">
                            <el-form-item label="新密码" prop="pass">
                                <el-input type="password" v-model="formLabelAlign.pass" placeholder='请输入密码'></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码" prop="showpass">
                                <el-input type="password" v-model="formLabelAlign.showpass" placeholder='请再次输入密码'></el-input>
                            </el-form-item>
                            <el-form-item label="短信验证码" prop="type">
                                <el-input v-model="formLabelAlign.type" placeholder='请输入短信验证码'></el-input>
                            </el-form-item>
                            <el-form-item label="验证码">
                                <el-input v-model="formLabelAlign.Verification" style="width: 60%"></el-input>
                                <div class="yzm_img" id="yzm_img" style="position:absolute; right: 15%;top:6px"></div>
                            </el-form-item>
                            <div class="text-center">
                                    <el-button type="primary" style="background: #3E62A6;margin-bottom: 50px;padding: 10px 50px"  @click="submitForm('formLabelAlign')">提交</el-button>
                            </div>
                        </el-form>
                    </div>
                </div>
            </div>
        </article>
        <footer style="width: 100%;z-index: 10;margin-top: 200px">
                <iframe src="./footer.html" style="width: 100%;height:200px;display: flex" frameborder="0"></iframe>
            </footer>
    </div>
    
</body>

</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            labelPosition: 'right',
            formLabelAlign: {
                name: '',
                region: '',
                type: '',
                Verification:''
            },
            rules2:{
                pass: [{ required: true, message: '请输入新密码', trigger: 'blur' },],
                showpass: [{ required: true, message: '请输入新密码', trigger: 'blur' },],
                type: [{ required: true, message: '请输入短信验证码', trigger: 'blur' },],
            }
        },
        methods: {
            submitForm(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        },
    })
    var verifyCode = new GVerify("yzm_img");
</script>