.listtitle {
    height: 64px;
    background: #fff
}

.listtitle>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.listtitle>ul>li {
    padding: 20px 50px;
    cursor: pointer;
}

.listtitle>ul>li>i {
    display: block;
    padding-bottom: 20px
}

.listtitle>ul>li:hover i {
    border-bottom: 2px solid #3E4E80;
    color: #445484;
    text-decoration: none
}

.lasconten {
    background: #fff;
    margin-top: 20px
}

.titletop {
    text-align: center;
    padding: 20px 0
}

.titletop>.eng {
    font-size: 12px;
    color: #A6A6A6
}

.titletop>.titcolor {
    font-size: 20px;
    color: #53618E
}

.lastop,
.padcell {
    padding: 0 6%
}
.padcell > p{
    padding-top: 20px
}
.lastop>p {
    text-indent: 2rem;

}

.lasbtn {
    text-align: center;
    padding-bottom: 20px
}

.lasbtn>button {
    margin: 0 6%;

}

.width1 {
    text-align: right
}

.padding2 {
    padding-left: 0;
    padding-right: 6%
}

.pbox>.row {
    padding: 10px 2%
}
.firsts {
    padding-left: 10%
}
.contits {
    font-size: 22px;
    color: #3E4E80;
}
.spots {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3E4E80;
    display: inline-block;
    margin-right: 10px
}
.threecapital {
    padding: 6px 15px;
}
.threecapital > .toptit{
    font-size: 18px;
    color: #53618E;
    padding-bottom: 5px
}
.threecapital>.contact{
    color: #777777
}
.threecapital > .lefts {
    padding-left: 10px
}
.chakan{
    color: #3E4E80;
    cursor: pointer;
}
.fontSzi{
    font-size: 20px;
}
.lineH > p {
    padding: 5px 0;
    font-size: 14pxw
}
.tabeltitle{
    font-size: 18px;color: #53608C
}
.el-table thead.is-group th{
    background: #fff
}
.el-form-item{
    margin: 0
}
.addressbox{
    display: flex;
    flex-wrap: wrap;
}
.addresbtn{
    padding: 8px 0;
    border: 1px solid #626F98;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    margin: 20px 2%
}
.addresbtn:hover{
    background: #ECF5FF;color: #409EFF
}
.textin{
    text-indent: 2rem
}
.padcell > div > form > .row{
    margin: 0
}
.topborder > div{
    border: 1px solid #3E4E80;
    padding: 20px;
    position: relative;
}
.tileborder{
    font-size: 20px;
    color: #3E4E80;
    padding: 20px;
    border:1px solid #3E4E80;
    border-bottom: none;
    font-weight: 600
}
.topborder > div > img{
    position: absolute;
    top: 15px ;
    right: 68px;
}
.topborder{
    margin-bottom: 20px
}
.widthpel> .el-form-item__content{
    width: 90%
}
.maodian{
    position: fixed;
    height: 300px;
    width: 20px;
    top: 50%;
    right: 20px;
    margin-top: -150px
}
.maodian > ul > a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px 0
}
.maodian > ul > a > li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #959595;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.maodian > ul > a:hover{
    border: 1px solid #000000 !important
}
.maodian > ul > a:hover > li{
    background: #000000 !important;
}