.banner {
  position: relative;
}

.banner .bannerlistimg a {
  position: absolute;
  z-index: 99;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  background: #DB1316;
  width: 100%;
  height: 150px;
  text-decoration: none;
}

.banner .bannerlistimg a div {
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}

.banner .bannerlistimg a div img {
  width: 40px;
  height: 40px;
}

.banner .bannerlistimg a div p {
  padding-bottom: 20px;
  margin-top: 4px;
  font-size: 18px;
}

.silist {
  padding: 40px 60px 0;
  position: relative;
  height: 500px;
}

.erbox {
  display: flex;
}

.erbox .swimg {
  width: 40%;
  text-align: center;
}

.erbox .swimg img {
  margin-top: 60px;
  width: 70%;
  height: 50%;
}

.erbox .righttitle {
  width: 54%;
  margin-top: 80px;
  line-height: 28px;
}

.erbox .righttitle .title {
  font-size: 24px;
  color: #E2202E;
  font-weight: 600;
  padding-bottom: 10px;
}

.erbox .righttitle .contents {
  font-size: 18px;
  font-weight: 600;
}

.erbox .righttitle .time {
  font-size: 12px;
  color: #8B8B90;
}

.erbox .righttitle .content {
  color: #2F3134;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 16px;
}

.chakan {
  position: absolute;
  bottom: 20%;
  z-index: 990;
  background: #F95C6B;
  right: 6%;
  color: #fff;
  padding: 6px 21px;
  border-radius: 4px;
  cursor: pointer;
}

.renwu {
  padding: 5% 13%;
}

.renwu .rwbf {
  color: #E2202E;
  font-size: 30px;
  font-weight: 600;
}

.renwu ul {
  line-height: 35px;
  font-size: 16px;
}

.renwu ul li {
  display: flex;
  justify-content: space-between;
  color: #2F3134;
}

.rwchakan {
  position: absolute;
  bottom: 20%;
  z-index: 990;
  background: #F95C6B;
  color: #fff;
  padding: 6px 21px;
  border-radius: 4px;
  cursor: pointer;
  left: 49%;
}

.banfudt {
  background: url(../images/bj.png) no-repeat;
  background-size: 100% 100%;
  height: 700px;
}

.banfudt .banfubox {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.banfudt .banfubox .imgbox {
  height: 500px;
  width: 700px;
  position: absolute;
  right: 8%;
  top: 20%;
}

.banfudt .banfubox .imgbox .ditu {
  height: 100%;
  width: 100%;
}

.banfudt .banfubox .imgbox .hovers {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 12px #fff;
  position: absolute;
}

.banfudt .banfubox .imgbox .hovers:hover {
  background: none;
}

.banfudt .banfubox .imgbox .hovers:hover .shows {
  animation: flash infinite;
  animation-duration: 3s;
  background: #fff !important;
}

.banfudt .banfubox .imgbox .hovers p {
  position: absolute;
  width: 60px;
  color: #fff;
}

.banfudt .banfubox .imgbox .hovers .nametop {
  left: -25px;
  top: -25px;
}

.banfudt .banfubox .imgbox .hovers .namebottom {
  bottom: -25px;
  left: -25px;
}

.banfudt .banfubox .imgbox .hovers .nameright {
  left: 18px;
  top: -5px;
}

.banfudt .banfubox .imgbox .hovers .nameleft {
  left: -65px;
  top: -4px;
}

.banfudt .banfubox .imgbox .sz {
  right: 250px;
  bottom: 44px;
}

.banfudt .banfubox .imgbox .gdhy {
  right: 267px;
  bottom: 30px;
}

.banfudt .banfubox .imgbox .gdsw {
  right: 224px;
  bottom: 50px;
}

.banfudt .banfubox .imgbox .gxbs {
  left: 369px;
  bottom: 58px;
}

.banfudt .banfubox .imgbox .gxhc {
  right: 293px;
  bottom: 72px;
}

.banfudt .banfubox .imgbox .gxhc p {
  left: -4px !important;
}

.banfudt .banfubox .imgbox .gzbj {
  right: 319px;
  bottom: 90px;
}

.banfudt .banfubox .imgbox .xjxw {
  right: 225px;
  bottom: 90px;
}

.banfudt .banfubox .imgbox .cxws {
  right: 308px;
  bottom: 123px;
}

.banfudt .banfubox .imgbox .scgzsq {
  right: 402px;
  bottom: 161px;
}

.banfudt .banfubox .imgbox .scgzsq p {
  top: -45px !important;
  width: 100px !important;
}

.banfudt .banfubox .imgbox .xzco {
  left: 130px;
  bottom: 140px;
}

.banfudt .banfubox .imgbox .xjkm {
  top: 160px;
  left: 150px;
}

.banfudt .banfubox .imgbox .hljheb {
  right: 46px;
  top: 108px;
}

.banfudt .banfubox .imgbox .hljheb p {
  width: 100px !important;
}

.banfudt .banfubox .banleft {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
  width: 400px;
}

.banfudt .banfubox .banleft .bfname {
  font-size: 30px;
  font-weight: 600;
}

.banfudt .banfubox .banleft .bfchakan {
  background: #fff;
  color: #F87784;
  width: 106px;
  line-height: 38px;
  border-radius: 4px;
  cursor: pointer;
  left: 49%;
  text-align: center;
  margin: 100px 0 60px 20px;
  font-size: 20px;
}

.banfudt .banfubox .banleft .shuliangbox {
  display: flex;
  flex-wrap: wrap;
}

.banfudt .banfubox .banleft .shuliangbox .shuliang {
  width: 50%;
  margin-top: 20px;
}

.banfudt .banfubox .banleft .shuliangbox .shuliang p .jia {
  margin-top: -20px;
  font-weight: 600;
}

.banfudt .banfubox .banleft .shuliangbox .shuliang p .nums {
  font-size: 28px;
  font-weight: 600;
}

.banfudt .banfubox .banleft .shuliangbox .shuliang p .nums:before {
  content: "+";
  margin-right: 4px;
  float: left;
  padding-top: -12px;
  margin-top: -10px;
  font-size: 20px;
}

.main {
  width: 1280px;
  margin: 0 auto;
}

.tesebox {
  background: #F9A8AA;
  overflow: hidden;
}

.tesebox .main {
  display: flex;
}

.tesebox .main .teseleft {
  width: 40%;
  background: #FFF4EA;
  padding: 0 40px;
}

.tesebox .main .teseleft .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
}

.tesebox .main .teseleft ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tesebox .main .teseleft ul li {
  background: #fff;
  padding: 15px 20px;
  border: 1px solid #FBBABB;
  border-radius: 4px;
  color: #616161;
  font-size: 30px;
  padding-left: 30%;
  cursor: pointer;
  margin-bottom: 30px;
}

.tesebox .main .teseleft ul li img {
  width: 50px;
  margin-right: 20px;
}

.tesebox .main .teseright {
  width: 60%;
  background: #F1D8DB;
}

.tesebox .main .teseright .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
}

.tesebox .main .teseright .titlebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}

.tesebox .main .teseright .titlebox .titleboxlist {
  height: 160px;
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

.tesebox .main .teseright .titlebox .titleboxlist img {
  height: 100%;
  width: 100%;
}

.tesebox .main .teseright .titlebox .titleboxlist .sheng {
  color: #fff;
  position: absolute;
  left: 48%;
  top: 33%;
  text-align: center;
}

.tesebox .main .teseright .titlebox .titleboxlist .sheng .topname {
  font-size: 35px;
  font-weight: 600;
}

.tesebox .main .teseright .titlebox .titleboxlist .sheng .bottomname {
  font-size: 25px;
}

body {
  overflow-x: hidden;
}
