.newback {
  background: url(../images/rwfc-top-bj-img.png) 100%;
  background-size: 104% 100%;
}

.newback .p {
  height: 1px;
}

.detailbox {
  width: 80%;
  margin: 0  auto;
  background: rgba(255, 255, 255, 0.3);
  padding: 20px 0;
  margin-top: 40px;
}

.dtitle {
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}

.newname {
  color: #999999;
  padding-bottom: 20px;
  text-align: center;
}

.newcontent {
  padding: 0 20px;
}

.newcontent p {
  text-indent: 2rem;
  font-size: 16px;
  padding: 10px;
}

.newcontent .tiname {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

.newcontent .newbo {
  padding-top: 50px;
}
